* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E3646E;
  --purple:#BB72E9 ;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #E2E4E9;
  --gray-200: #C0C4CE;
  --gray-300: #878EA1;
  --gray-400: #292C34;
  --gray-500: #16181D;
  --gray-600: #0D0E11;

  --font-title: "Asap", sans-serif;
    --title-lg: 700 56px/120% var(--font-title);
    --title-md: 700 24px/120% var(--font-title);
    --title-sm: 700 16px/120% var(--font-title);

  --font-subtitle: "Inconsolata" , monospace;
    --subtitle: 400 20px/120% var(--font-subtitle);
  
  --font-text: "Maven Pro" , sans-serif;
    --text-md: 400 16px/140% var(--font-text);
    --text-sm: 400 14px/140% var(--font-text);
}

body {
  color: var(--gray-200);
  background-color: var(--gray-500);
  font: var(--text-md); /* sets Maven Pro 16px as the default */
}

#intro h1 {
  font: var(--title-lg);      /* Asap 56px bold */
  color: var(--gray-100);
}

#intro h3 {
  font: var(--subtitle);      /* Inconsolata 20px */
  color: var(--gray-300);
}